@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color:#232442 ;
    display: flex;
    justify-content: center;
    font-family: Poppins;

    & section{
        position: relative;
        background-color: #ffff ;
        border-radius: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        display: flex;
        margin-top: 25%;
        /* margin-left: 50%; */
        width: 300px;
        height: 300px;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        text-align: left;

        & h2 {
            position: relative;
            width: 80%;
            margin: 20px;
            padding-left: 10px;
            
        }

        & div#head {
            /* background-color: blue; */
            position: relative;
            width: 80%;
            margin-right: -10px;
            gap: 10px;
            display: flex;
            display: row;
            justify-content: space-between;

            & input {
                position: relative;
                background-color: rgb(174, 255, 255);
                border: none;
                border-radius: 20px;
                width: 100%;
                padding: 10px;
                box-shadow: 2px 2px 7px 1px rgb(145, 157, 161);
                 
                &:focus{
                    outline: none;
                }
                
                /* text-wrap: wrap; */
            }
            & button{
                position: relative;
                box-shadow: 2px 2px 7px 1px rgb(145, 157, 161);

                right: 0px;
                top: 0px;
                bottom: 0px;
                border: none;
                width: 60px;
                border-radius: 20px;
                background-color: rgb(183, 225, 225);
                transition: .1s;
                
                &:hover{
                    background-color: rgb(255, 133, 117);
                    color: #ffff;
                    cursor: pointer;

                }
                
            }
            
        }
        & div#list {
            position: relative;
            width: 80%;
            margin-top: 20px;  
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            & div.item{
                position: relative;
                
                background-color: #f0ff6c;
                display: flex;
                gap: 20px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 40px;
                margin-left: 5px;
                padding: 10px;
                height: 20px;
                text-wrap: wrap;

                & p{
                 font-size: 12px;
                 color: indigo;
                 text-wrap: wrap;
                 /* overflow: scroll; */
                }
                & button{
                    position: relative;
                    border: none;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60px;
                    margin: -10px;
                    transition: .2s;
                    &:hover{
                        scale: 1.01;
                        color: white;
                        cursor: pointer;
                        background-color: rgb(255, 133, 117);
                    }
                }
            }
        }
        
    }
    }

